.aider*
.env
ARC-AGI/*
training/*
lightning_logs/*
__pycache__/*
Utils/__pycache__/*
sythtraining/*
re_arc_50/*
# Optuna
jarc_optuna.db
optuna_optimization.log
training2/*
evaluation/*
finetuning_results/*
sythtraining/*
training2/*
*.log
training3/*
evaluation3/*
ARC-AGI/*
build/*
jarc_reactor.egg-info/*
jarc_reactor.egg-info/*